<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

        h1 {

            text-align: center;
            color: white;
            font-family: 'Aboreto', cursive;
        }

        body {
            background: radial-gradient(circle, rgba(42, 133, 133, 1) 0%, rgba(25, 40, 59, 1) 80%);
            background-repeat: inherit;


        }

        ul,
        li,
        a {
            align-items: center;
            color: WHITE;
            display: flex;
            flex-direction: column-reverse;
            margin-top: 20px;
            font-family: cursive;
            font-weight: lighter;
            font-family: 'Aboreto', cursive;
        }

        input {
            border-radius: 50px;

        }

        .delete {
            background: linear-gradient(0deg, rgba(226, 236, 230, 1) 0%, rgba(1, 2, 11, 1) 44%);
            color: azure;
            padding: 10px;

        }

        .link {
            text-align: center;
            color: aqua;
            justify-content: center;
            margin-top: 150px;
        }

        div {
            box-sizing: border-box;
            margin: 10px;
            border-radius: 30px;
            background: linear-gradient(0deg, rgba(226, 236, 230, 1) 0%, rgba(1, 2, 11, 1) 44%);


        }
    </style>
</head>

<body>
    <div>
        <h1><ion-icon name="musical-note-outline"></ion-icon>SONGS + Artists UPDATER <ion-icon name="musical-note-outline"></ion-icon></h1>
    </div>

    <ul>
        <% songs.forEach(song=> { %>
            <li>
                <%=song.title; %>
                    <form action="/songs/<%= song.id %>?_method=DELETE" method="POST">

                        <input class="delete" type="submit" value="DELETE" />
                        <a href="/songs/<%=song._id %>/edit">
                            <ion-icon name="create-outline"></ion-icon>
                        </a>

                    </form>
                    <% }) %>

            </li>


            <a href="/songs/<%=songs._id; %>">
                <%=songs.title; %>
            </a>



    </ul>

    <nav>
        <a class="link" href="/songs/new">Add New Song</a>
    </nav>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>